# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [40]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
#from api_keys import g_key
g_key = "AIzaSyBuY-3W19B-7Qv5IZnKE2ku8J44yMEqUgk"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [55]:
#Load the csv created in WeatherPy challenge 
weather_df = pd.read_csv("../WeatherPy/weather_data_output.csv")
weather_df

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,Grindavik,63.84,-22.43,48.20,93,90,10.29,IS,1594422979
1,Seabra,-12.42,-41.77,62.74,89,68,2.75,BR,1594422788
2,kimparana,12.83,-4.92,85.33,57,96,10.87,ML,1594422979
3,Bredasdorp,-34.53,20.04,50.00,76,34,10.29,ZA,1594422979
4,Punta Arenas,-53.15,-70.92,32.85,80,75,10.29,CL,1594422821
...,...,...,...,...,...,...,...,...,...
561,Honiara,-9.43,159.95,80.60,88,75,4.70,SB,1594423129
562,Alyangula,-13.85,136.42,80.60,61,90,12.82,AU,1594423130
563,Vanavara,60.34,102.28,59.83,89,100,12.15,RU,1594423130
564,Kruisfontein,-34.00,24.73,51.24,82,87,4.50,ZA,1594423130
565,Makkah al Mukarramah,21.43,39.83,88.43,15,91,6.08,SA,1594422875

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [56]:
#configure Gmaps with API key 
gmaps.configure(api_key="AIzaSyBuY-3W19B-7Qv5IZnKE2ku8J44yMEqUgk")

In [57]:
#Use the Lat and Lng as locations and Humidity as the weight.
locations = weather_df[["Latitude","Longitude"]]
weight = weather_df["Humidity"].astype(float)

In [59]:
#Add Heatmap layer to map.
heat_layer = gmaps.heatmap_layer(locations, weight, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3)

fig = gmaps.figure()
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [61]:
#Narrow down the cities to fit weather conditions.
#max temp lower than 80 but higher than 70
#zero clouds
narrowed_weather_df = weather_df.loc[(weather_df["Max Temperature"]>70) & 
                                    (weather_df["Max Temperature"]<80) &
                                    (weather_df["Cloudiness"] == 0), :]
#narrowed_weather_df

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure