# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#Load the csv created in WeatherPy challenge 
weather_df = pd.read_csv("../WeatherPy/weather_data_output.csv")
weather_df

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,Grindavik,63.84,-22.43,48.20,93,90,10.29,IS,1594422979
1,Seabra,-12.42,-41.77,62.74,89,68,2.75,BR,1594422788
2,kimparana,12.83,-4.92,85.33,57,96,10.87,ML,1594422979
3,Bredasdorp,-34.53,20.04,50.00,76,34,10.29,ZA,1594422979
4,Punta Arenas,-53.15,-70.92,32.85,80,75,10.29,CL,1594422821
...,...,...,...,...,...,...,...,...,...
561,Honiara,-9.43,159.95,80.60,88,75,4.70,SB,1594423129
562,Alyangula,-13.85,136.42,80.60,61,90,12.82,AU,1594423130
563,Vanavara,60.34,102.28,59.83,89,100,12.15,RU,1594423130
564,Kruisfontein,-34.00,24.73,51.24,82,87,4.50,ZA,1594423130
565,Makkah al Mukarramah,21.43,39.83,88.43,15,91,6.08,SA,1594422875

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#configure Gmaps with API key 
gmaps.configure(api_key="AIzaSyBuY-3W19B-7Qv5IZnKE2ku8J44yMEqUgk")

In [4]:
#Use the Lat and Lng as locations and Humidity as the weight.
locations = weather_df[["Latitude","Longitude"]]
weight = weather_df["Humidity"].astype(float)

##Add Heatmap layer to map.

In [5]:
heat_layer = gmaps.heatmap_layer(locations, weight, 
                                 dissipating=False, max_intensity=10,
                                 point_radius = 3)

fig = gmaps.figure()
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
#Narrow down the cities to fit weather conditions.
    #max temp lower than 80 but higher than 70
    #zero clouds
    #wind speed less than 10mph
narrowed_weather_df = weather_df.loc[(weather_df["Max Temperature"]>70) & 
                                    (weather_df["Max Temperature"]<80) &
                                    (weather_df["Cloudiness"] == 0) &
                                    (weather_df["Wind Speed"]<10), :]
narrowed_weather_df

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
67,LambarÃ©,-25.35,-57.61,71.60,73,0,8.05,PY,1594422996
81,Touros,-5.20,-35.46,75.20,94,0,4.70,BR,1594422967
263,Vilhena,-12.74,-60.15,77.00,50,0,4.70,BR,1594423057
277,San Lorenzo,-25.33,-57.53,71.60,73,0,8.05,PY,1594423060
319,Kiryat Gat,31.61,34.76,72.68,74,0,0.38,IL,1594423008
375,Al BardÄ«yah,31.76,25.09,71.38,83,0,8.19,LY,1594423085
485,Emba,48.83,58.14,78.69,43,0,6.53,KZ,1594423111

In [7]:
#Drop any rows will null values.
narrowed_weather_df = narrowed_weather_df.dropna(how='any')
#reset the index to reflect new df items with updated index numbers
narrowed_weather_df.reset_index(inplace=False)
narrowed_weather_df

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
67,LambarÃ©,-25.35,-57.61,71.60,73,0,8.05,PY,1594422996
81,Touros,-5.20,-35.46,75.20,94,0,4.70,BR,1594422967
263,Vilhena,-12.74,-60.15,77.00,50,0,4.70,BR,1594423057
277,San Lorenzo,-25.33,-57.53,71.60,73,0,8.05,PY,1594423060
319,Kiryat Gat,31.61,34.76,72.68,74,0,0.38,IL,1594423008
375,Al BardÄ«yah,31.76,25.09,71.38,83,0,8.19,LY,1594423085
485,Emba,48.83,58.14,78.69,43,0,6.53,KZ,1594423111

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
#Store into variable named hotel_df.
hotel_df = narrowed_weather_df.loc[:,["City","Country","Latitude","Longitude"]]
#Add a "Hotel Name" column to the DataFrame.
hotel_df['Hotel Name'] = ""
hotel_df

            City Country  Latitude  Longitude Hotel Name
67       LambarÃ©      PY    -25.35     -57.61
81        Touros      BR     -5.20     -35.46
263      Vilhena      BR    -12.74     -60.15
277  San Lorenzo      PY    -25.33     -57.53
319   Kiryat Gat      IL     31.61      34.76
375  Al BardÄ«yah      LY     31.76      25.09
485         Emba      KZ     48.83      58.14

In [9]:
#Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "hotel",
    "keyword":"hotel",
    "key": g_key,
}

#Hit the Google Places API for each city's coordinates.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


#loop through hotels_df and run a search for nearby hotels that meet criteria
for index, row in hotel_df.iterrows():
    #get city name, latitude and longitude 
    lat = row["Latitude"]
    lng = row["Longitude"]
    city_name = row["City"]
    params["location"] = f"{lat},{lng}"
    
    #assemble url and make API request
    response = requests.get(base_url, params = params).json()
    results = response['results']
    
    #Store the first Hotel result into the DataFrame.
    try :
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']

    except: (KeyError, IndexError)

In [10]:
hotel_df.dropna()
hotel_df

            City Country  Latitude  Longitude                    Hotel Name
67       LambarÃ©      PY    -25.35     -57.61  Villa Floreal Hotel Boutique
81        Touros      BR     -5.20     -35.46        Pousada Cores e Formas
263      Vilhena      BR    -12.74     -60.15                  Hotel Mirage
277  San Lorenzo      PY    -25.33     -57.53                Factoria Hotel
319   Kiryat Gat      IL     31.61      34.76                    Desert Gat
375  Al BardÄ«yah      LY     31.76      25.09                   Hotel Burdy
485         Emba      KZ     48.83      58.14

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [12]:
# Add marker layer ontop of heat map
#Plot markers on top of the heatmap.
#Plot the hotels on top of the humidity heatmap with each pin 
    #containing the Hotel Name, City, and Country.

#create hotel symbol markers
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))